/* body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: rgb(37, 46, 46);
} */

/* #bgContainer {
    width: 100%;
    height: 100%;
    background-color: beige;
    border: 1px solid rgb(0, 16, 156);
    position: absolute;
    margin: 0 auto; } */

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    position: absolute;
    z-index: 1
}

#navbarContainer {
    position: absolute;
    margin: 0 auto;
    z-index: 2;
    background: rgb(183, 0, 255); }

ul.topnav {
  top:3%;
  left:1%;
  position:absolute;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(10, 10, 10);
}

ul.topnav li {
    list-style-type: none;
    float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

