body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: rgb(37, 46, 46);
}

/* 3D */
#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    position: absolute;
    z-index: 1
}

/* NAVBAR */
ul.topnav {
  top:3%;
  left:1%;
  position:absolute;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(10, 10, 10);
  z-index: 10;
}

ul.topnav li {
    list-style-type: none;
    float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Make the top navbar responsive */
@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }

/* VISIT CARD */
#visitcardContainer{
    top: 10%;
    width: 100%;
    /* margin-top: 5vh; */
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    margin: 0 auto;
    z-index: 2;

    /* text-transform: uppercase; font-size: 16px; */
    /* min-height: 10em;
    vertical-align: middle; */
}

#profilPhoto{
    width: calc(5em + 6vw);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* #textContainer{
    margin-left: 10vw;
    margin-right: 10vw;
} */

#vc_text{
    letter-spacing: 4px;
    text-align: center; 
    font-family: "Lucida Console", "Courier New"; 
    color: white;
    margin-left: auto;
    margin-right: auto;
    /* font-size: 1.5vw; */
    /* font-size: 1em; */
    max-width: 60vw;
    max-height: 3em;
    text-align: center;
}

@media screen and (max-width: 600px) {
    p {
      font-size: 0.8em;
    }
}

#mail{
    /* position: relative; */
    color:whitesmoke;
    letter-spacing: 1px;
}

@media screen and (max-width: 600px) {
    a {
      font-size: 0.8em;
    }
}